.results-screen {
  @include flexContainer;

  &__score {
    text-align: center;
    font-size: 16px;
  }

  .result-container {
    max-width: 550px;
    height: 62vh;
    max-height: 650px;
    margin-top: 5vh;
    overflow-y: scroll;
    padding: 5px 1px;

    &__result {
      display: grid;
      grid-template-columns: max-content 1fr;
      padding: 15px 25px;
      color: grey;
    }

    &__icon {
      display: block;
      margin-right: 10px;
      font-size: 20px;
      font-weight: bold;
      width: 20px;

      &--correct {
        color: green;
      }

      &--wrong {
        color: red;
      }
    }

    &__question {
      line-height: 1.6;
      font-size: 18px;
    }
  }

  button {
    margin-top: auto;
    @include btnMain;
  }
}
